:root {
  font-size: 8px;
}
* {
  box-sizing: border-box;
}
html, body{
  background-color: #F9F9F9;
  color: #222222;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
  min-height: 100vh;
}
header{
  padding-top: .5em;
  padding-bottom: .5em;
  background-color: #fff;
}
p{
  font-size: 1.5rem;
}
body::-webkit-scrollbar-track {
    background-color: #F9F9F9;
}
body::-webkit-scrollbar {
    width: 1rem;
    background: #F9F9F9;
}
body::-webkit-scrollbar-thumb {
    background: #222222;
}
#list{
  margin-top: 120px;
}
nav {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
}
.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  box-shadow:   0px 24px 56px 4px #d1d1d1;
}
.logo {
  padding: 20px;
}
.menu {
  display: flex;
  align-items: center;
}
.menu ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: auto;
}
.menu li {
  margin-right: 1rem;
  font-weight: 500;
  font-size: 1.5rem;
  margin: 2rem;
}
section{
  display: flex;
}
ul{
  list-style: none;
  padding: 0;
  margin: 4rem;
}
li{
  margin: 4rem 0 1rem 0;
}
h2{
  font-weight: 400;
  font-size: 2rem;
  margin: .5rem 0;
}
li h1{
  display: flex;
  justify-content: start;
  font-weight: 900;
  font-size: 5rem;
  text-transform: uppercase;
  margin: 0;
}
li span{
  margin-right: 2rem;
  font-weight: 400;
  font-size: 5rem;
  text-transform: lowercase;
}
.line{
  display: inline-block;
}
.line::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #FF0000;
  transition: width .3s;
}
.line:hover::after {
  width: 80%;
  transition: width .3s;
}
.arrow {
  margin-left: 2rem;
  transition: 0.3s;
}
a, a:visited, a:active{
  text-decoration: none;
  color: #222222;
}
a:hover h2 {
  color: #FF0000;
  transition: 0.3s;
}
a:hover .arrow {
  margin-left: 3rem;
  transition: 0.3s;
}
footer{
  display: flex;
  justify-content: flex-end;
  right: 0;
  bottom: 0;
  position: fixed;
  margin: 2rem 4rem;
  font-size: 1.5rem;
}
.past a{
  color: #D1D1D1;
}
.past h1{
  text-decoration: line-through;
}
.past span.arrow{
  display: none;
}
.past .line::after, .future .line::after{
  opacity: 0;
}
.past a:hover h2, .future a:hover h2  {
  color: #D1D1D1;
}
.future a, .future h1{
  color: #D1D1D1;
}
#emoji:after {
	content: "";
	animation: emojis 5s infinite;
}
@keyframes emojis {
  0% { content:"😷"; }
  25% { content:"🧴"; }
  50% { content:"🧤"; }
  75% { content:"❤"; }
  100% { content:"😷"; }
}
input[type="radio"] {
    display:none;
}
label{
  cursor:pointer;
}



#future, #past{
  display: none;
}
#today{
  display: block;
}
.float{
  display: none;
}

@media screen and (max-width: 480px){
  li h2{
    font-size: 1.5rem;
  }
  li h1, li h1 span, h1, h1 span, .arrow{
    font-size: 2rem;
  }
  .arrow, .menu, footer{
    display: none;
  }
  footer, .navbar{
    justify-content: center;
  }
  .navbar{
    box-shadow: 0px 8px 24px 8px #d1d1d1;
  }
  .float {
    display: block;
    text-align: center;
    z-index: 2;
  }
  .float ul{
    flex-shrink: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 0 0 32px 0;
    width: 100%;
  }
  .float ul li{
    display:inline;
    margin: auto;
    background-color: #222222;
    padding: 16px 24px;
  }
  .float ul li:last-child {
    margin-left: 2px;
  }
  .float ul li label{
    color: #fff;
    font-size: 1.5rem
  }
}
