:root {
font-size: 8px;
}
html, body{
  background: #F9F9F9;
  color: #222222;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 400;
}
header{
  display: flex;
  justify-content: space-between;
  margin: 2rem 4rem;
  font-size: 1rem;
}
header span{
  color: #FF0000;
  font-weight: 700;
}
p{
  font-size: 1.5rem;
}
p:hover{
  color: #FF0000;
}
ul{
  list-style: none;
  padding: 0;
  margin: 4rem;
}
li{
  margin: 4rem 0 1rem 0;
}
li h2{
  font-weight: 400;
  font-size: 2rem;
  margin: .5rem 0;
}
.line{
    display: inline-block;
}
.line::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FF0000;
    transition: width .3s;
}
.line:hover::after {
    width: 80%;
    transition: width .3s;
}
li h1{
  display: flex;
  justify-content: start;
  font-weight: 900;
  font-size: 5rem;
  text-transform: uppercase;
  margin: 0;
}
li span{
  margin-right: 2rem;
  font-weight: 400;
  font-size: 5rem;
  text-transform: lowercase;
}
.arrow {
  margin-left: 2rem;
  transition: 0.3s;
}
a, a:visited, a:active{
  text-decoration: none;
  color: #222222;
}
a:hover h2 {
  color: #FF0000;
  transition: 0.3s;
}
a:hover .arrow {
  margin-left: 3rem;
  transition: 0.3s;
}
footer{
  display: flex;
  right: 0;
  bottom: 0;
  position: fixed;
  margin: 2rem 4rem;
  font-size: 1.5rem;
}
